[submodule "third_party/aiter"]
	path = third_party/aiter
	url = https://github.com/ROCm/aiter.git
[submodule "third_party/pytorch"]
	path = third_party/pytorch
	url = https://github.com/ROCm/pytorch.git
	branch = release/2.8
